pkgbase = uolt
	pkgdesc = 34 Unix tools in assembly (x86_64/aarch64): no libc, no heap, direct syscalls
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/thooams/uolt
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = clang
	makedepends = binutils
	source = uolt-0.2.0.tar.gz::https://github.com/thooams/uolt/archive/refs/tags/v0.2.0.tar.gz
	sha256sums = SKIP

pkgname = uolt
